<!DOCTYPE html>
<html lang="en">

<head>
    <title>Skytap Web App</title>
    <link href="../static/css/main.css" rel="stylesheet">

    </head>

<body>

    <div>
    <div id="logo">
        <img src="../static/images/Skytap_logo.PNG" alt="The cloud for migrating" />

        </div>

    <div>
            <h1>Welcome to Skytap</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showsignup" role="button">Sign up today</a>
            </p>
        </div>

    <div>
        <div>
            <nav>
                <ul id="navigation">
				<li><a href="./Index.html">Home</a></li>
				<li><a href="#">Signin</a></li>
				<li><a href="showsignup">Signup</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<p>
				<img src="../static/images/Skytap.png" alt="Skytap PNG" width = "600" height="300" />
			</p>


            <p>
				<em>The Only Cloud for Traditional Applications.Mission-critical. Maintained for decades. Datacenter-dependent. These are the applications your business can’t run without, but you can’t run on cloud. Until now.</em>
			</p></div>

            </nav>

        </div>



        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Who we are</h4>
                <p>Content 1</p>

                <h4>What we do</h4>
                <p>Content 2</p>

                <h4>History</h4>
                <p><iframe width="500" height="300" src="https://www.youtube.com/embed/watch?v=SqTd7qqMTWY&ab_channel=SkytapCloud?autoplay=1">

                    </iframe></p>
            </div>


        </div>

        <address>
            <p><a href="mailto:skatap@exmaple.org">
            mailto:skatap@exmaple.org</a></p>
            <p>Seattle, Washington</p>

        </address>

        <footer class="footer">
            <p>&copy; Skytap 2018</p>
        </footer>

       </div>

</body>
</html>
